
<div class="col-span-{{span[forloop.index0]}} grid">
<div class="grid grid-cols-2 gap-4">
    <div class="flex flex-col w-full h-full gap-2">
    <div class="fill-indigo-500">{%- include svgs/design.svg -%}</div>   
    <span class="text-lead">Design</span>
    <span class="text-p">We design using modern techniques to create websites that are not only visually appealing but also highly functional and user-friendly.</span>
    </div>
    <div class="flex flex-col w-full h-full gap-2">
        <div class="fill-indigo-500">{%- include svgs/develop.svg -%}</div>  
        <span class="text-lead">Develop</span>
        <span class="text-p">We develop using agile methods to ensure efficient and effective website development, while also being flexible and responsive to changing client needs.</span>
        </div>
        <div class="flex flex-col w-full h-full gap-2 ">
            <div class="fill-indigo-500">{%- include svgs/deploy.svg -%}</div>  
            <span class="text-lead">Deploy</span>
            <span class="text-p">We deploy websites using modern hosts like Firebase, ensuring our clients have reliable and scalable website hosting solutions.</span>
            </div>
            <div class="flex flex-col w-full h-full gap-2 ">
                <div class="fill-indigo-500">{%- include svgs/service.svg -%}</div> 
                <span class="text-lead">Service</span>
                <span class="text-p">We offer post-deployment services at a cost that is based on a per-request model, ensuring that our clients have access to ongoing support and maintenance as and when they need it.</span>
                </div>
</div>
</div>