<div class="col-span-12 flex flex-col gap-12 text-center">
<div class="flex flex-col gap-4">
<span class="text-title">Content delivery</span>
<span class="text-lead">this is the part where we understand your needs</span>
</div>
<div class="grid grid-cols-4 mob:grid-cols-1 gap-12 mob:gap-6">
<div class="flex flex-col items-center gap-4">
<div class="rounded-full bg-orange-500 w-32 h-32  flex justify-center items-center">
<span class="text-lead">Step 1</span>
</div>
<div>Upon conformation we will set this step aside to understand your business.</div>
</div>
<div class="flex flex-col items-center gap-4">
    <div class="rounded-full bg-red-500 w-32 h-32  flex justify-center items-center">
    <span class="text-lead">Step 2</span>
    </div>
    <div>We will have meetings to develop a better understanding of how you picture your site</div>
    </div>
    <div class="flex flex-col items-center gap-4">
        <div class="rounded-full bg-indigo-500 w-32 h-32  flex justify-center items-center">
        <span class="text-lead">Step 3</span>
        </div>
        <div>In this step the development of your product will start, this means we will constantly work with you to create a working product</div>
        </div>
        <div class="flex flex-col items-center gap-4">
            <div class="rounded-full bg-cream-500 w-32 h-32  flex justify-center items-center">
            <span class="text-lead">Step 4</span>
            </div>
            <div>This is where we will deploy the solution or extend the product period to incoperate any changes you want</div>
            </div>
</div>
</div>