
{%- comment -%} text options {%- endcomment -%}
{%- assign template-id = "" -%}
{%- assign href-link = "" -%}
{%- assign text-layout = "" -%}
{%- assign text-hero = "" -%}
{%- assign text-pretitle = "" -%}
{%- assign text-title = "" -%}
{%- assign text-lead = "" -%}
{%- assign text-subtitle = "" -%}
{%- assign text-p = "" -%}
{%- assign col-image = "" -%}
{%- assign step-title = "" -%}
{%- assign step-text = "" -%}


{%- assign card-title = "" -%}
{%- assign card-price = "" -%}
{%- assign card-list-item = "" -%}
{%- comment -%} text end {%- endcomment -%}

{%- comment -%} form options {%- endcomment -%}
{%- assign form-label = "" -%}
{%- assign form-type = "" -%}
{%- assign form-name = "" -%}
{%- comment -%} form end {%- endcomment -%}

{%- comment -%} YAML options {%- endcomment -%}
{%- comment -%} YAML end {%- endcomment -%}

{%- comment -%} column constructor {%- endcomment -%}
{%- assign columns = "" -%}
{%- comment -%} column constructor end {%- endcomment -%}

{%- comment -%} template layout {%- endcomment -%}
{%- assign span = "" -%}
{%- comment -%} template end {%- endcomment -%}