

<div class="text-lead col-span-6 py-4 rounded-sm text-indigo-700 gap-4 flex flex-col items-center">
<span>BASIC</span>
<span class="text-title w-full text-center bg-indigo-500 text-white p-10"><span class="text-lead">£</span>150.00</span>
<ul class="flex flex-col overflow-y-scroll gap-4 text-p">
    <li>Five-page website</li>
    <li>Three banner designs</li>
    <li>Cross-browser compatibility</li>
    <li>Money back guarantee</li>
    <li>Mobile responsive</li>
</ul>
</div>




<div class="text-lead bg-white col-span-6 py-4 rounded-sm text-indigo-700 gap-4 flex flex-col items-center relative">
    <span>START-UP</span>
    <span class="text-title w-full text-center bg-orange-500 text-white p-10"><span class="text-lead">£</span>300.00</span>
    <ul class="flex flex-col overflow-y-scroll gap-4 text-p">
        <li>Ten-page website</li>
        <li>Six banner designs</li>
        <li>Cross-browser compatibility</li>
        <li>Money back guarantee</li>
        <li>Mobile responsive</li>
    </ul>
    <div class="absolute -top-12 -right-12 mob:left-0 w-56 h-56 pattern-diagonal-lines pattern-gray-300 pattern-bg-transparent pattern-opacity-60 pattern-size-16 -z-20"></div>
    </div>
    
    