{%- assign title = include.title | split: '---' }} -%}
{%- assign text = include.text | split: '---' }} -%}
<div class="col-span-12 w-full">
<div class="grid grid-cols-2 gap-6 mob:grid-cols-1">
{%- for faq-title in title -%}
<div class="flex flex-row gap-4">
<div class="bg-indigo-600 w-10 h-10 rounded-full items-center flex justify-center text-lead text-white font-logo shrink-0">?</div>
<div class="flex flex-col gap-2 justify-start">
<span class="text-pretitle">{{faq-title}}</span>
<span>{{text[forloop.index0]}}</span>
</div>
</div>
{%- endfor -%}
</div>
</div>