<nav class="{% if page.focus == "template-builder" %} hidden {% endif %} sticky top-0 z-20 flex flex-row items-center justify-between gap-12 p-6 px-10 antialiased transition-all duration-700 mob:p-4 font-montserrat backdrop-blur bg-white/50 bg-opacity-60 js-header">
    <div class="flex flex-row gap-4 text-gray-600">
    <a href="index.html" class="text-5xl mob:text-3xl font-logo">navflow<span class="text-indigo-500">.net</span></a>
    </div>
    <div class="flex flex-row gap-12 font-bold text-subtitle">
    <a href="about.html" class="">About</a>
    </div>
</nav> 