<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="assets/css/style.css">
    
  </head>
  <body class="antialiased text-olive-500 font-montserrat">
    {%- assign translate = "-translate-y-96" -%}
    {%- assign duration = "duration-700" -%}
    {%- include header.html -%}
    
    {{ content }}

    {%- include footer.html -%}

  </body>
  <script src="assets/js/index.js"></script>
</html>
